APP_ORIGINS=https://dafatii.example
MAX_UPLOAD_BYTES=536870912
AUTH_ATTEMPT_LIMIT=10
UPLOAD_INIT_LIMIT=60
USER_STORAGE_QUOTA_BYTES=10737418240
GCS_PROJECT_ID=example-project
GCS_BUCKET=dafatii-private-example
GCS_CLIENT_EMAIL=dafatii-storage@example-project.iam.gserviceaccount.com
GCS_PRIVATE_KEY=SET_AS_A_CLOUDFLARE_ENCRYPTED_SECRET
RATE_LIMIT_PEPPER=SET_AS_A_CLOUDFLARE_ENCRYPTED_SECRET
